@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .text-primary {
    color: #3490dc; /* Replace with your primary color */
  }
  .bg-primary {
    background-color: #3490dc; /* Replace with your primary color */
  }
}

body {
  background: #ebf0fa;
  color: #6b7280; /* text-gray-500 */
  margin: 2rem; /* m-8 */
}

h1,
h2 {
  font-weight: 700; /* font-bold */
  color: #3490dc; /* text-primary */
  font-size: 1.125rem; /* text-lg */
}

main {
  max-width: 64rem; /* max-w-5xl */
  margin-top: 3rem; /* my-12 */
  margin-bottom: 3rem; /* my-12 */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
  padding-left: 2rem; /* px-8 */
  padding-right: 2rem; /* px-8 */
}

main > h2 {
  margin-bottom: 1rem; /* mb-4 */
  padding-bottom: 0.5rem; /* pb-2 */
  font-size: 1rem; /* text-base */
}

p > a {
  color: #3490dc; /* text-primary */
  text-decoration: underline;
}

/* nav styles */
nav {
  padding-bottom: 1rem; /* pb-4 */
  border-bottom-width: 2px; /* border-b-2 */
  border-bottom-color: #e5e7eb; /* border-gray-200 */
  display: flex;
  align-items: center;
  gap: 1.25rem; /* gap-5 */
  margin-top: 2.5rem; /* my-10 */
  margin-bottom: 2.5rem; /* my-10 */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
  max-width: 64rem; /* max-w-5xl */
}

nav a,
nav span {
  color: #6b7280; /* text-gray-500 */
}

nav a:hover {
  color: #000000; /* text-black */
}

main nav {
  border: 0; /* border-0 */
}

/* button styles */
button {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  border-radius: 0.125rem; /* rounded-sm */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
  font-size: 0.875rem; /* text-sm */
}

button:hover {
  background-opacity: 0.9; /* bg-opacity-90 */
}

.btn-primary {
  background-color: #3490dc; /* bg-primary */
  color: #ffffff; /* text-white */
}

.btn-secondary {
  background-color: #e5e7eb; /* bg-gray-200 */
  color: #111827; /* text-gray-900 */
}

/* form styles */
form {
  padding-top: 1rem; /* py-4 */
  padding-bottom: 1rem; /* py-4 */
  padding-left: 1.75rem; /* px-7 */
  padding-right: 1.75rem; /* px-7 */
  background-color: rgba(52, 144, 220, 0.05); /* bg-primary bg-opacity-5 */
  border-radius: 0.375rem; /* rounded-md */
  display: block;
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
  min-width: fit-content;
  width: 25%; /* w-1/4 */
}

form label {
  display: block;
}

form input,
form textarea,
form select {
  display: block;
  margin-top: 0.5rem; /* mt-2 */
  margin-bottom: 1rem; /* my-4 */
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem; /* px-2 */
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem; /* py-1 */
  border-radius: 0.125rem; /* rounded-sm */
  width: 100%; /* w-full */
}

form button {
  display: block;
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
}

/* feedback styles */
.error {
  border-width: 2px; /* border-2 */
  border-color: #f87171; /* border-red-500 */
  background-color: #fecaca; /* bg-red-300 */
  color: #b91c1c; /* text-red-800 */
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem; /* px-2 */
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem; /* py-1 */
  border-radius: 0.125rem; /* rounded-sm */
  display: block;
  max-width: fit-content;
  margin-top: 1rem; /* my-4 */
  margin-bottom: 1rem; /* my-4 */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
}

/* card styles */
.card {
  background-color: #ffffff; /* bg-white */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
  border-radius: 0.375rem; /* rounded-md */
  padding-top: 0.75rem; /* py-3 */
  padding-bottom: 0.75rem; /* py-3 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  margin-top: 1rem; /* my-4 */
  margin-bottom: 1rem; /* my-4 */
  position: relative;
  overflow: hidden;
}

.card h3 {
  font-weight: 700; /* font-bold */
  color: #374151; /* text-gray-700 */
  font-size: 0.875rem; /* text-sm */
  margin-bottom: 0; /* mb-0 */
}

.card p {
  margin-top: 1rem; /* my-4 */
  margin-bottom: 1rem; /* my-4 */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.5rem; /* leading-6 */
}

/* pill styles */
.pill {
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem; /* py-1 */
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem; /* px-2 */
  margin-top: 0.75rem; /* mt-3 */
  display: inline-block;
  font-size: 0.75rem; /* text-xs */
  font-weight: 600; /* font-semibold */
}

.pill.high {
  background-color: #fecaca; /* bg-red-300 */
  color: #ef4444; /* text-red-600 */
}

.pill.medium {
  background-color: #bfdbfe; /* bg-blue-300 */
  color: #3b82f6; /* text-blue-600 */
}

.pill.low {
  background-color: #d1fae5; /* bg-emerald-300 */
  color: #10b981; /* text-emerald-600 */
}

.card .pill {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 0.375rem; /* rounded-tl-md */
}
@layer components {
  .loader {
    border-top-color: #3490dc; /* Adjust this color to match your design */
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
